
.login-container {
    max-width: 300px;
}

.error {
    color: red;
}

.message {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;
}

.searchbox {
    display: inline-flex;
    padding-right: 5px;
}

.searchbox  {
   /* top: -5px;
    position: relative; */
    padding: 10px;
}

.right-padding {
    padding-right: 3px;
}

.user {
    float: left;
    margin-top: -15px;
}

.data-display {
    font-weight: bolder;
}

.playlist_btn {
    float: right;
    margin-top: -35px;
}

#playlist {
    width: 350px;
    margin-right: 10px;
    display: inline-block;
}

#playlist label {
    font-size: 15px;
    width: 350px;
}

.song-results {
    top: 360px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.playlist-count {
    color: red;
}

.playlist-item img{
    width: 64px;
    height: 64px;
    float: right;
}

#export {
    float: right;
}