
.login-container {
    max-width: 300px;
}

.error {
    color: red;
}

.message {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;
}

.searchbox {
    display: inline-flex;
    padding-right: 5px;
}

.searchbox select {
    top: -5px;
    position: relative;
}

.right-padding {
    padding-right: 3px;
}

.user {
    float: left;
    margin-top: -15px;
}