<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Music App</h1>
                <span class="user">Welcome {{user.name}}</span>
                <hr />
            </div>

        </div>
        <div class="searchbox">
            <div class="btn-group right-padding left-padding">
                <select id="searchType" class="form-control">
                    <option  value="track">Track</option>
                    <option value="album">Album</option>
                    <option value="artist">Artist</option>

                </select>
            </div>
            <div class="span12 right-padding">
                <form class="form-inline" >
                    <input  ng-model="searchTerm" class="span5" type="text"  placeholder="Michael Jackson" >
                    <button ng-click="submit();" type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
                </form>
            </div>
        </div>
        <div class="results">
            <ul ng-repeat="displayData"></ul>
        </div>

    </div>
</div>
